{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    {% if title %}
        <title>Swifteur - {{ title }}</title>
    {% else %}
        <title>Swifteur</title>
    {% endif%}
</head>
<body>
    <!-- Barre de navigation centrale -->
    <nav>
        <ul>
            <div class="container">
                <li><a href="home.html">Blog</a></li>
                <li><a href="article.html">Articles</a></li>
                <li style="float:right"><a href="about.html">A propos</a></li>
            </div>
        </ul>
    </nav>
    <div class=""></div>
     <!-- container centrale -->
    <div class="container">
        <div class="row">
            <!-- table de gauche -->
            <div class="col-md-2">
                <div class="left-sdbar">
                    <a href="#">Python</a>
                    <a href="#">Swift</a>
                    <a href="#">Java</a>
                    <a href="#">Html</a>
                    <a href="#">CSS</a>
                </div>
            </div>
            <!-- table centrale -->
            <div class="col-md-8">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- table de droite-->
            <div class="col-md-2">
                <div class="right-sdbar">
                    <a href="#">Post récent</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>